{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Find a Doctor</title>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Varela+Round" rel="stylesheet"/>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}">
<link rel="stylesheet" href="{% static 'materialize/css/default2.css' %}" >
<link rel="stylesheet" href="{% static 'materialize/css/fonts.css' %}" >
<link rel="stylesheet" href="{% static 'materialize/css/style.css' %}" >
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  

<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<!--Import jQuery before materialize.js-->
      <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA7IZt-36CgqSGDFK8pChUdQXFyKIhpMBY&sensor=true" type="text/javascript"></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
      
      <script> $(document).ready(function() {
  $('.modal-trigger').leanModal();
});  </script>
    <script>$(document).ready(function() {
    $('select').material_select();
  });</script>
 <script type="text/javascript">

        var map;
        var geocoder;
        var marker;
        var people = new Array();
        var latlng;
        var infowindow;

        $(document).ready(function() {
            ViewCustInGoogleMap();
        });

        function ViewCustInGoogleMap() {

            var mapOptions = {
                center: new google.maps.LatLng(12.9716, 77.5946),   // Coimbatore = (11.0168445, 76.9558321) 27.8913,78.0792



                zoom: 10,        
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

            // Get data from database. It should be like below format or you can alter it.
       //  var data = '[{ "DisplayText": "adcv", "ADDRESS": "Jamiya Nagar Kovaipudur Coimbatore-641042", "LatitudeLongitude": "10.9435131,76.9383790", "MarkerId": "Customer" },{ "DisplayText": "abcd", "ADDRESS": "Coimbatore-641042", "LatitudeLongitude": "11.0168445,76.9558321", "MarkerId": "Customer"}]';
           
//window.alert(myArray->value[0]);
        var data=new Array();;

               //  window.alert(data);
            
             //var ar1 = <?php echo json_encode($locationData) ?>;
                        
              // var ar1= ["12.9121, 77.5462° ","11.0168445,76.9558321"]
              var ar1={{form|safe}}
              alert(ar1)
               for( var j=0; j<ar1.length; j++)
               {
                   var obj={LatitudeLongitude: ar1[j] };
                   data.push(obj);
               }
            
            for (var i = 0; i < data.length; i++) {
                setMarker(data[i]);
            }

        }

        function setMarker(people) {
            geocoder = new google.maps.Geocoder();
            infowindow = new google.maps.InfoWindow();
            if ((people["LatitudeLongitude"] == null) || (people["LatitudeLongitude"] == 'null') || (people["LatitudeLongitude"] == '')) {
                alert("Unable to fetch latitude longitude");
               
            }
            else { 
                var latlngStr = people["LatitudeLongitude"].split(",");
                var lat = parseFloat(latlngStr[0]);
                alert(lat);

                var lng = parseFloat(latlngStr[1]);
                alert(lng);
                latlng = new google.maps.LatLng(lat, lng);
                marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    draggable: false,               // cant drag it
                   //html: people["DisplayText"]    // Content display on marker click
                   //icon: 'mapicons/'+'unnamed.png'       // Give ur own image
                });
                //marker.setPosition(latlng);
                //map.setCenter(latlng);
                google.maps.event.addListener(marker, 'click', function(event) {
                    //infowindow.setContent(this.html);
                    infowindow.setPosition(event.latLng);
                    infowindow.open(map, this);
                });
            } 
        }

    </script>
<div id="wrapper">
	<div id="page-wrapper">
		<div id="page">
			<div id="wide-content" >
   
  				<div class="row">
    				
  				<div class="col s1 m4" >
				<p><br><img src="{% static 'site/img/doctor.jpeg' %}" alt="" width="200" height="200" class="alignleft" /> </p>
			    </div>
			    <div class="input-field col s1 m5">
					<h3>Find<b style="color:#069">Doctor</b></h3>
					<p> Check for a great local doctor, and book an appointment! </p>
                   <!--<select>
      <option value="" disabled selected>Select based on specialisation</option>
      <option value="1">Cardiology</option>
      <option value="2">Opthalmology</option>
      <option value="3">Psychology</option>
      <option value="3">Gynaecology</option>
    </select>-->

     
    <form action="{% url "finddoctor:process" %}" method="POST">
                    {% csrf_token %}
                    <select name="category">
      <option value="" disabled selected>Select based on Speciality</option>
      
      <option value="Cardiac Surgery">Cardiac Surgery</option>
      <option value="Cardiology">Cardiology</option>
      <option value="Physiotherapy">Physiotherapy</option>
      <option value="Orthopedic Surgery">Orthopedic Surgery</option>
      <option value="Neurology">Neurology</option>
      <option value="Neuro Surgery">Neuro Surgery</option>
      <option value="Psychiatry">Psychiatry</option>
      <option value="Psychology">Psychology</option>
      <option value="Gastroenterology">Gastroenterology</option>
      <option value="Colon and Rectal Surgery">Colon and Rectal Surgery</option>
      <option value="Otolaryngology (ENT)">Otolaryngology (ENT)</option>
      <option value="Endocrinology">Endocrinology</option>
      <option value="Ophthalmology (Eye Specialist)">Ophthalmology (Eye Specialist)</option>
      <option value="General Surgery">General Surgery</option>
      <option value="Urology">Urology</option>
      <option value="Chest physician">Chest physician</option>
      <option value="Dentistry">Dentistry</option>
      <option value="Dermatology">Dermatology</option>
      <option value="Cosmetology">Cosmetology</option>
      <option value="Obstetrics and Gynecology">Obstetrics and Gynecology</option>
      <option value="Sexology">Sexology</option>
    </select>
                   <input id="doctorquery" type="search" class="validate" style="border: 1px solid black" name="locality_text" >
                   <label for="locality_text"></label>
                </div>
                 <div class="col s1 m1">
                 <br><br><br><br><br><br><br><br><br><br>
         <button class="btn waves-effect waves-light light-blue darken-3" type="submit" name="action">Go
                 </button>
                 {{form}}
                 </form>
        <div class="col s1 m1">
                 <br><br>
         <button class="btn waves-effect waves-light light-blue darken-3" type="submit" name="action" style="width:500px;margin-left:-20px">Find Your Doctor >>
                 </button>
                 </div>             
          </div>
                
                </div>

				
				
	
           
    
            
			</div>
		

	<div id="map-canvas" style="width: 800px; height: 500px;"></center>
    </div>
		

	</div>
</div>
</div>
</body>
</html>
